<div class="container-fluid">
  <div class="main_mes">
    <p><h1>ようこそ！ながのケーキへ</h1></p>
    <p> おいしいを全国へお届けします。ご注文をどうぞ</p>
  </div>
  <div class="row">
    <div class="col-md-3">
      <table class="table table-striped">
        <tr>
          <th>ジャンル</th>
        </tr>
        <% @genres.each do |genre| %>
        <tr>
          <td><%= link_to genre.name, root_path(:genre_id => genre.id) %></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-9">
      <div id="carouselsample-1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/cake.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/coffee4.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/cake3.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="container_card">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% @order_details.each_with_index do |order, i| %>
          <%= link_to new_customer_session_path do %>
            <div class="col">
              <div class="card h-90">
                <%= attachment_image_tag order.item, :image, format: 'png', fallback: "no_image.jpg", class: "card-img-top" %>
                <div class="card-body">
                  <h5 class="card-title">🌟売筋<%= i + 1 %>位🌟</h5>
                  <h4 class="card-title"><%= order.item.name %></h4>
                  <p class="card-text"><%= order.item.introduction %></p>
                </div>
                <div class="card-footer">
                  <%= (order.item.price*1.1).floor %>円
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  




